# Ignore all files
*

# Except for these specific file types
!*.cpp
!*.c
!*.gitignore

# Lab Assignments DSA
!03_DSA_Assignments/
!03_DSA_Assignments/Lab Assignment 01/
!03_DSA_Assignments/Lab Assignment 02/
!03_DSA_Assignments/Lab Assignment 03/
!03_DSA_Assignments/Lab Assignment 04/
!03_DSA_Assignments/Lab Assignment 05/
!03_DSA_Assignments/Lab Assignment 06/
!03_DSA_Assignments/Lab Assignment 07/
!03_DSA_Assignments/Lab Assignment 08/
!03_DSA_Assignments/Lab Assignment 09/
!03_DSA_Assignments/Lab Assignment 10/

# C Assignments
!01_C_Assignments/
!01_C_Assignments/Assignment 1/
!01_C_Assignments/Assignment 2/
!01_C_Assignments/Assignment 3/
!01_C_Assignments/Assignment 4/
!01_C_Assignments/Assignment 5/
!01_C_Assignments/Assignment 6/
!01_C_Assignments/Assignment 7/

# C ++ Assignments
!02_C++_Assignments/
!02_C++_Assignments/Assignment 1/
!02_C++_Assignments/Assignment 2/
!02_C++_Assignments/Assignment 3/
!02_C++_Assignments/Assignment 4/
!02_C++_Assignments/Assignment 5/
!02_C++_Assignments/Assignment 6/
!02_C++_Assignments/Assignment 7/

# Leet Code Questions
!Leet Code
!Leet Code/Easy/
!Leet Code/Medium/
!Leet Code/Hard/
!Leet Code/Contest/

# DAA Assignments
!04_DAA
!04_DAA/Assignment 01/
!04_DAA/Greedy/
!04_DAA/DP/
!04_DAA/Backtracking/
!04_DAA/Graphs/

# OS
!05_OS
!05_OS/Assignment 8/
!05_OS/Assignment 9/
!05_OS/Assignment 10/
!05_OS/Assignment 11/

# DSA Placement 
!DSA Placement
!DSA Placement/Basic/
