# Ignore all files
*

# Except for these specific file types
!*.cpp
!*.c
!*.gitignore

# Lab Assignments DSA
!Lab Assignments/
!Lab Assignments/Lab Assignment 01/
!Lab Assignments/Lab Assignment 02/
!Lab Assignments/Lab Assignment 03/
!Lab Assignments/Lab Assignment 04/
!Lab Assignments/Lab Assignment 05/
!Lab Assignments/Lab Assignment 06/
!Lab Assignments/Lab Assignment 07/
!Lab Assignments/Lab Assignment 08/
!Lab Assignments/Lab Assignment 09/
!Lab Assignments/Lab Assignment 10/

# C Assignments
!C Assignments/
!C Assignments/Assignment 1/
!C Assignments/Assignment 2/
!C Assignments/Assignment 3/
!C Assignments/Assignment 4/
!C Assignments/Assignment 5/
!C Assignments/Assignment 6/
!C Assignments/Assignment 7/

# C ++ Assignments
!C++ Assignments/
!C++ Assignments/Assignment 1/
!C++ Assignments/Assignment 2/
!C++ Assignments/Assignment 3/
!C++ Assignments/Assignment 4/
!C++ Assignments/Assignment 5/
!C++ Assignments/Assignment 6/
!C++ Assignments/Assignment 7/

# Leet Code Questions
!Leet Code
!Leet Code/Easy/
!Leet Code/Medium/
!Leet Code/Hard/
!Leet Code/Contest/

# DAA Assignments
!DAA
!DAA/Assignment 1/
!DAA/Assignment 2/
!DAA/Assignment 3/
!DAA/Assignment 4/
!DAA/Assignment 5/
